body{
    font-family: Verdana, "Times New Roman";
    background: #000000;
    color: #FFFFFF;
    margin: 25px 25px 0x 25px;
}

div {
    min-height: 100px;
    padding: 20px;
    border: 3px solid #FFFFFF;
}

footer {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,255,1) 25%, rgba(0,102,255,1) 70%, rgba(0,0,0,1) 100%);
    text-align: center;
}


h1 {
    font-size: 48px;
    padding: 15px;
    text-align: center;
}

h2 {
    font-size: 32px;
    text-shadow: 2px 4px #808080;
}
   
span {
    text-decoration: underline;
    text-transform: uppercase;
    text-shadow: none;
}

p {
    font-size: 24px;
    padding-bottom: 15px;
    padding-left: 15px;
}


footer p{
    font-size: 20px;
    padding: 10px 10px 10px 0;
}

img {
    width: 350px;
    display: block;
    margin: 0 auto;
    border: 10px dashed #FFFFFF;
}

.intro {
    border-radius: 15px;
    margin-top: 15px;
}

.green {
    background: #008500;
    text-align: left;
    margin-right: 50px;
    border-right: 10px solid #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
    border-top: none;
    border-left: none;
}

.blue {
    background: #000FFF;
    text-align: left;
    margin-right: 50px;
    border-right: 10px solid #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
    border-top: none;
    border-left: none;
}

.yellow {
    background: #FFFF00;
    text-align: right;
    margin-left: 50px;
    border-bottom: 3px solid #FFFFFF;
    border-left: 10px solid #FFFFFF;
    border-top: none;
    border-right: none;
    color: #000000;
}

.red {
    background: #FF0000;
    text-align: right;
    margin-left: 50px;
    border-bottom: 3px solid #FFFFFF;
    border-left: 10px solid #FFFFFF;
    border-top: none;
    border-right: none;
}

.yellow h2{
    text-shadow: 2px 4px #C7E2C7;
}